
{% extends 'base.html.twig' %}
{% block body %}

    <h1 class="h1 text-black"><strong>Site Cacaochella | Brief </strong></h1>
    <div class=" row ">
        <div class="col mt-5 d-flex justify-content-center">
                
        </div>
    </div>
{% endblock %}